/* Estilo básico para resetear márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del header */
header {
    background-color: #ffffff;
    padding: 20px 0;
}

/* Estilo del menú */
.menu {
    text-align: center;
}

.menu {
    text-align: center;
    border-top: 1px solid #8A8070; /* Línea horizontal encima del menú */
    border-bottom: 1px solid #000000; /* Línea horizontal debajo del menú */
    padding: 20px 0; /* Añadir un poco de espacio entre el menú y las líneas */
}

.menu ul {
    list-style-type: none; /* Sin viñetas en la lista */
}

.menu ul li {
    display: inline-block; /* Hace que los elementos estén en línea */
    margin: 0 20px; /* Espacio entre los enlaces */
}

.menu ul li a {
    text-decoration: none; /* Quita el subrayado */
    color: black; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Tipo de fuente */
    font-weight: regular; /* Texto en negrita */
    font-size: 20px; /* Tamaño de la fuente */
    padding: 5px; /* Espaciado alrededor del texto */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.menu ul li a:hover {
    color: #7ABA96; /* Color al pasar el cursor */
}